@page
@using Packt.Shared
@model Northwind.Web.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>City</th>
                </tr>
        </thead>
        <tbody>
            @if (Model.Customers is not null)
            {
                @foreach(Customer c in Model.Customers)
                {
                   
                       <tr> 
                        <td><a asp-page="/customerinfo" asp-route-customer=@c.CustomerId class="nav-link"> @c.CompanyName </a></td>
                        <td>@c.Country</td>
                        <td>@c.City</td>
                    </tr>
                   
                }
            }
        </tbody>
    </table>
    </div>
